/* main img{
    width: 50px;
    height: 10px;
} */
body{
    background-color:antiquewhite;
}
.h1{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(1, 1, 85);
}

.h2{
    background-color: black;
    font-family: sans-serif;
}

.imagens{
    display: flex;
    height: 200px;
    margin-left: auto;
    grid-template-columns: repeat(2, 1fr); /* Cria 2 colunas com a mesma largura */
    gap: 20px; /* Cria um espaço (distância) de 20px entre as imagens */
    width: fit-content;
    border: 5px;
    border-radius:5px rgb(1, 1, 85);
}

.container-produtos{
    
}

.p align{
    font-family: 'Lucida Sans';
}